/*SETEAR MI CÓDIGO*/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*CLASES REUTILIZABLES*/
  body {
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.71429;
    font-family: 'Raleway', sans-serif;
  }

  .text-uppercase {
   text-transform: uppercase;
  }

  img {
    vertical-align: middle;
  }

  .mb-0 {
    margin-bottom: 0px;
  }

  .mt-0 {
    margin-top: 0px;
  }

  .m-0 {
    margin: 0px;
  }


  /* Clases específicas */

  header {
    position: relative;
  }
  /* Navegador */
  nav {
   position: fixed;
   background-color: #fff;
   z-index:100;   /* Para que esté sobre todo */
   top: 0;
   width:100%;
   height: 100px;
  }
    /* Menú */
  ul.menu {
    list-style: none;
    background: #fff;
    padding: 15px 165px;
    display: inline-block;
  }

  li {
    width: auto;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    padding: 0 25px;
  }

  /* Opciones del nav */
  li a {
    text-decoration: none;
    display: block;
    color: rgb(49, 51, 50);
    font-size: 16px;
    font-weight: 600;
  }

  a:hover {
    color: #E95853;
  }


  /*Logo de la página */
  .logo img {
    width: 70px;
    height: auto;
    float: left;
    position: absolute;
    right: 165px;
    top: 50%;
    transform: translateY(-50%);   /* Alinear al centro */
  }

  /* Primera sección - HOME */
  #home {
    margin-top: 100px;
    background-image: url("../assets/images/bg-home.jpg");
    width: 100%;
    background-size: cover;
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
  }

  .texto {
    padding: 60px 0 140px 0;
  }


  /*Clases para los textos de home */
  .texto h2 {

    font-size: 1.5em;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .texto h1 {
    font-size: 3.2em;
    font-weight: 600;
    padding-top: 1em;
  }

  .texto p {
    font-size: 1em;
    font-weight: lighter;
    padding-bottom: 70px;
  }

  .texto a {
    background-color: #39CB74;
    display: inline-block;
    padding: 15px;
  }

  /* Sección  - SERVICES */
  #services {
    background-color: #EF7C74;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding: 70px 0;
  }


  .services-container  img {
    width: 50%;
    margin-bottom: 20px;
  }

  .services-container  div {
    display: inline-block;
    width: 30%;
  }

  .services-container h2 {
    font-size: 35px;
  }

  .services-container h4 {
    padding-bottom: 70px;
  }

  .user, .concept, .design {
    margin: 0 77px;
  }

  #services h6 {
    font-weight: 500;
  }



  /* Tercera sección - WORK */
  .work-container {
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 80px 90px;
    box-sizing: border-box;
  }

  .work-container img {
    width: 80%;
  }

  /*Clases para los textos de work */
  .work-container h2 {
    padding-bottom: 53px;
    color: #191919;
  }
  .work-container h4 {
    padding-bottom: 53px;
    color: #424242;
  }

  /* imagenes */
  .imagenes-container {
    width: 80%;
    margin: 50px auto;
  }

  .imagenes-container .row {
    width: 100%;
    margin: 80px 0;
    overflow: auto;
    text-align: center;
    }

  .imagenes-container .row figure {
    width: 33.3%;
    float: left;
  }

  .imagenes-container .row figure img {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .row figure figcaption {
    margin-top: 10px;
    text-align: center;
  }

  .row figcaption.text-uppercase {
    font-weight: 500;
    color: #191919;
  }


  /* Footer */
  footer p {
    background-color: #373B46;
    color: #fff;
    text-align: center;
    font-weight: lighter;
    padding: 27px 0;
    text-transform: lowercase;
    font-size: 20px;
  }
